# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test logs
Testing/*

# Test input
test/gtc/*.dds

# Project Files
Makefile
*.cbp
*.user

# Misc.
*.log

# local build(s)
build*

/.vs
/.vscode
/CMakeSettings.json
.DS_Store
*.swp
